/* ---aside section---  */
aside {
  background-color: var(--bg-profile);
}
.wrapper {
  padding: 20px;
}
.darkmode-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 20;
}
.darkmode-toggle svg {
  width: 24px;
  cursor: pointer;
}
.darkmode-toggle input {
  display: none;
}
.darkmode-toggle .moon {
  display: none;
}
#greeting h1 {
  font-size: 32px;
  font-weight: 900;
}
#greeting p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
}
/* contact section */
#contact {
  margin-top: 40px;
}
#contact p {
  font-size: 16px;
  font-weight: 600;
}
.contact_link {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.contact_link svg {
  width: 20px;
}
@media (min-width: 992px) {
  aside .wrapper {
    position: sticky;
    top: 0;
    padding: 50px 50px 20px;
  }

  #greeting h1 {
    font-size: 64px;
  }
  #greeting p,
  #contact p {
    font-size: 18px;
  }

  #contact {
    margin-top: 100px;
  }
  .contact_link svg {
    width: 28px;
  }
}
